Source: raspi-userland
Section: misc
Priority: optional
Maintainer: Nobody <nobody@nowhere.tld>
Build-Depends: debhelper (>= 9),
               pkg-kde-tools,
               cmake
Standards-Version: 3.9.3

Package: raspi-userland
Architecture: arm64
Depends: ${misc:Depends}
Description: it raspi-userlands
 raspi-userlands stuff
